<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consoldor Pets</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
  </head>

  <body>
    {{ template "menu-admin" }}
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <h3>Editar Pet</h3>
          <fieldset>
            <form id="editar-pet">
              <div class="form-group">
                <label for="id">ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  name="id"
                  value="{{ .ID }}"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="nome">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  id="nome"
                  name="nome"
                  value="{{ .Nome }}"
                  required="required"
                  placeholder="Insira o Nome do pet"
                />
              </div>

              <div class="form-group">
                <label for="telefone">Telefone de Contato</label>
                <input
                  type="tel"
                  class="form-control"
                  id="telefone"
                  name="telefone"
                  value="{{ .Telefone }}"
                  required="required"
                  placeholder="Telefone"
                />
              </div>

              <div class="form-group">
                <label for="especie">Selecione a Especie</label>
                <select
                  class="form-control"
                  id="especie"
                  name="especie"
                  value="{{ .Especie }}"
                  required="required"
                >
                  <option selected>{{ .Especie }}</option>
                  {{- if (eq .Especie "Gato") }}
                  <option>Cachorro</option>
                  {{ else }}
                  <option>Gato</option>
                  {{ end -}}
                </select>
              </div>

              <div class="form-group">
                <label for="genero">Selecione o Genero</label>
                <select
                  class="form-control"
                  id="genero"
                  name="genero"
                  value="{{ .Genero }}"
                  required="required"
                >
                  <option selected>{{ .Genero }}</option>
                  {{- if (eq .Genero "Macho") }}
                  <option>Fêmea</option>
                  {{ else }}
                  <option>Macho</option>
                  {{ end -}}
                </select>
              </div>

              <div class="form-group">
                <label for="porte">Porte</label>
                <input
                  type="text"
                  class="form-control"
                  id="porte"
                  name="porte"
                  value="{{ .Porte }}"
                  required="required"
                  placeholder="Insira o Nome do pet"
                />
              </div>

              <div class="form-group">
                <label for="idade">Idade</label>
                <input
                  type="text"
                  class="form-control"
                  id="idade"
                  name="idade"
                  value="{{ .Idade }}"
                  required="required"
                  placeholder="Insira a Idade do Pet"
                />
              </div>

              <div class="form-group">
                <label for="vacinado">O pet esta Vacinado?</label>
                <select
                  class="form-control"
                  id="vacinado"
                  name="vacinado"
                  value="{{ .Vacinado }}"
                  required="required"
                >
                  <option selected>{{ .Vacinado }}</option>
                  {{- if (eq .Vacinado "Estou") }}
                  <option>Não estou</option>
                  {{ else }}
                  <option>Estou</option>
                  {{ end -}}
                </select>
              </div>

              <div class="form-group">
                <label for="castrado">O pet esta Castrado?</label>
                <select
                  class="form-control"
                  id="castrado"
                  name="castrado"
                  value="{{ .Castrado }}"
                  required="required"
                >
                  <option selected>{{ .Castrado }}</option>
                  {{- if (eq .Castrado "Estou") }}
                  <option>Não estou</option>
                  {{ else }}
                  <option>Estou</option>
                  {{ end -}}
                </select>
              </div>

              <div class="form-group">
                <label for="descricao">Descrição do pet</label>
                <textarea
                  class="form-control"
                  id="descricao"
                  name="descricao"
                  required="required"
                  placeholder="Insira a descrição do pet"
                  rows="3"
                >
                  {{ .Descricao }}
                </textarea>
              </div>

              <div class="form-group">
                <label for="adotado">O pet foi adotado?</label>
                <select
                  class="form-control"
                  id="adotado"
                  name="adotado"
                  value="{{ .Adotado }}"
                  required="required"
                >
                  <option selected>{{ .Adotado }}</option>
                  {{- if (eq .Adotado "Sim") }}
                  <option>Não</option>
                  {{ else }}
                  <option>Sim</option>
                  {{ end -}}
                </select>
              </div>

              <div>
                <button class="btn btn-primary" type="submit">Atualizar</button>
              </div>
            </form>
          </fieldset>
        </div>
      </div>
    </div>

    {{ template "footer" }} {{ template "scripts" }}
    <script src="/assets/js/pet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  </body>
</html>
