<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Casa do Consolador</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    {{ template "cabecalho" }}
    <h1>Me adota? &#128512;</h1>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 mx-auto">
          <div class="card">
              <img
                class="card-img-top img-fluid"
                src="/{{ .Arquivo }}"
                alt="Casa do Consolador Foto Animal"
              />
            <div class="card-block">
              <h5 class="card-title text-center">{{ .Nome }}</h5>
              <p class="card-text text-center">Minha Especie: {{ .Especie }}</p>
              <p class="card-text text-center">Sou {{ .Genero }}</p>
              <p class="card-text text-center">Meu Porte: {{ .Porte }}</p>
              <p class="card-text text-center">{{ .Vacinado }} Vacinado</p>
              <p class="card-text text-center">{{ .Castrado }} Castrado</p>
              <p class="card-text text-center">Estou em Santo Andre</p>
              <p class="card-text text-center">Meu contato {{ .Telefone }}</p>
              <p class="card-text text-center">{{ .Descricao }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ template "footer" }}
    <!--  comment  -->
    {{ template "scripts" }}

    <!-- <script src="/assets/js/publications.js"></script> -->
  </body>
</html>
