<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="reikianos-form" id="formulario-cadastro">
                <span>Crie a sua conta agora mesmo!</span>
                <div>
                    <input type="text" name="nome" id="nome" placeholder="Digite o seu nome" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite o seu Apelido" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <div>
                    <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme a sua senha"
                        required="required">
                </div>
                <div>
                  <span>Data de Nascimento:</span>
                    <input type="date" min="1910-01-01" name="nascimento" id="nascimento" placeholder="dd-mm-yyyy" required="required">
                </div>
                <div>
                    <button type="submit" class="btn-reikianos">Cadastrar</button>
                </div>
                <div>
                    <a href="/login" class="btn-reikiano" > Clique aqui para fazer o login </a>
                </div>
            </form>
        </div>
    </div>
    {{ template "footer" }}
    <!--  comment  -->
    {{ template "scripts" }}
    <script src="/assets/js/register.js"></script>
</body>

</html>
