{{ define "footer" }}
<footer class="text-center text-black" style="background-color: #e3f2fd">
  <!-- Grid container -->
  <div class="container p-4 pb-0 mt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/CasaDoConsoladorOficial" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!--Youtbe  -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.youtube.com/@MonicadeMedeirosCdC" role="button"
        ><i class="fab fa-youtube"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/casadoconsoladoroficial/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-dark" style="background-color: #e3f2fd; text-decoration: none;">
    © 2023 Copyright:
    <a class="text-decoration-none text-dark" href="https://casadoconsolador.com.br">Casa do Consolador</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- <footer class="text-muted mt-4"> -->
<!--   <div class="container mx-auto"> -->
<!--     <p>Casa do Consolador 2023.Todos os Direitos reservados.</p> -->
<!--   </div> -->
<!-- </footer> -->
{{ end }}
